<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une image</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% block title %} {% endblock title %}

{% extends "layout/root.html" %}

{% block content %}
<div class="container_form">
    <form method="POST" action="/upload-image" enctype="multipart/form-data">
        <div class="form-group">
          <label>Image</label>
          <div class="container_input">
              <input type="file" class="form-control inputText" aria-describedby="files[]" name="files[]" multiple="true" required>
          </div>
        </div>

        <div class="form-group">
            <label>Titre de l'image</label>
            <input type="text" class="form-control inputText" name="title" placeholder="Titre de l'image">
        </div>

        <div class="title">
            <h2>Type de l'image ?</h2>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_image" value="passion_froid">
                <label class="form-check-label">
                  Passion Froid
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_image" value="fournisseur">
                <label class="form-check-label">
                  Fournisseur
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_image" value="logo">
                <label class="form-check-label">
                  Logo
                </label>
          </div>
        </div>

        <div class="title">
            <h2>Photos avec des produits ?</h2>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_product" value="true">
                <label class="form-check-label">
                  Oui
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_product" value="false">
                <label class="form-check-label">
                  Non
                </label>
          </div>
        </div>

        <div class="title">
            <h2>Photos institutionnelle ?</h2>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="photo_is_institu" value="true">
                <label class="form-check-label">
                  Oui
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="photo_is_institu" value="false">
                <label class="form-check-label">
                  Non
                </label>
          </div>
        </div>

        <div class="title">
            <h2>Format des photos ?</h2>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="format" value="vertical">
                <label class="form-check-label">
                  Vertical
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="format" value="horizontal">
                <label class="form-check-label">
                  Horizontal
                </label>
          </div>
        </div>

        <div class="form-group">
            <label>Crédits photo</label>
            <input type="text" class="form-control inputText" name="credit" placeholder="Crédits photo">
        </div>

        <div class="title">
            <h2>Droits d'utilisation limités ?</h2>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="limit_utilisation" value="true">
                <label class="form-check-label">
                  Oui
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="limit_utilisation" value="false">
                <label class="form-check-label">
                  Non
                </label>
          </div>
        </div>

        <div class="form-group">
            <label>Copyright</label>
            <input type="text" class="form-control inputText" name="copyright" placeholder="Copyright">
        </div>

        <div class="form-group">
            <label>Date de fin de droits d'utilisation</label>
            <input type="date" name="date_end_right">
        </div>

        <div id="bigDiv">
            <div class="form-group">
                <label>Tag</label>
                <div class="container_input">
                    <input id="tag" type="text" class="form-control inputText" placeholder="Ajouter un nouveau tag" name="tag[]">
                </div>
            </div>
        </div>

        <input type="button" class="btn btn-primary" onclick="createTagInput()" value="Ajouter un nouveau tag">


        <div class="title">
            <h2>Photos avec des personnes ?</h2>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_human" value="true">
                <label class="form-check-label">
                  Oui
                </label>
          </div>
        </div>
        <div class="form_box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_human" value="false">
                <label class="form-check-label">
                  Non
                </label>
          </div>
        </div>
        <div class="form_button">
            <button type="submit" class="btn btn-success">Confirmer</button>
        </div>
      </form>
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

        function createTagInput(){
            let bigDiv = document.getElementById('bigDiv')

            let divForm = document.createElement('div');
            divForm.className = "form-group"
            bigDiv.appendChild(divForm);

            let label = document.createElement('label');
            let textLabel = document.createTextNode('Tag');
            divForm.appendChild(label);
            label.appendChild(textLabel);

            let divInput = document.createElement('div');
            divInput.className = "container_input"
            divForm.appendChild(divInput);

            let input = document.createElement('input');
            input.type = "text"
            input.className = "form-control inputText"
            input.placeholder = "Ajouter un nouveau tag"
            input.name = "tag[]"
            divInput.appendChild(input);

        }
    </script>
{% endblock content %}
</html>
