<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/detail.css') }}">
{% block form_box %}  {% endblock form_box %}

{% extends "layout/root.html" %}

{% block content %}
<body>
    <h1 style="color: white; margin-top: 5vw; margin-left: 45vw">{{ filename.title }}</h1>
    <img src="/file/{{ filename.files_name }}" width="350px" height="250px" style="margin-top: 5vw; margin-left: 40vw">



    <div class="button_container" style="display: flex; justify-content: center;">
        <form action="{{ url_for('delete_image', id=filename._id) }}" method="post" role="form">
            <button class="btn btn-danger" type="submit" id="delete-btn">Supprimer la photo</button>
        </form>
    </div>

    <div style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
           Mettre à jour la photo
        </button>
    </div>


    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-form_box">Mettre à jour la photo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form action="{{ url_for('update_image', id=filename._id) }}" method="POST" role="form" style="padding-top: 100px">

                <div>
                    <h2>Titre de l'image</h2>
                    <input type="text" class="form-control" name="title" value="{{ filename.title }}">
                </div>

                <div class="form_box">
                    <h2>Type de l'image ?</h2>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type_image" value="{{ filename.type_image }}">
                        <label class="form-check-label">
                          Passion Froid
                        </label>
                  </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type_image" value="{{ filename.type_image }}">
                        <label class="form-check-label">
                          Fournisseur
                        </label>
                    </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type_image" value="{{ filename.type_image }}">
                        <label class="form-check-label">
                          Logo
                        </label>
                  </div>
                </div>

                <div class="form_box">
                    <h2>Photos avec des produits ?</h2>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_product" value="true">
                        <label class="form-check-label">
                          Oui
                        </label>
                  </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_product" value="false">
                        <label class="form-check-label">
                          Non
                        </label>
                  </div>
                </div>

                <div class="form_box">
                    <h2>Photos institutionnelle ?</h2>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="photo_is_institu" value="true">
                        <label class="form-check-label">
                          Oui
                        </label>
                  </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="photo_is_institu" value="false">
                        <label class="form-check-label">
                          Non
                        </label>
                  </div>
                </div>

                <div class="form_box">
                    <h2>Format des photos ?</h2>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="format" value="vertical">
                        <label class="form-check-label">
                          Vertical
                        </label>
                  </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="format" value="horizontal">
                        <label class="form-check-label">
                          Horizontal
                        </label>
                  </div>
                </div>

                <div class="form-group">
                    <h2 class="form-check-label">Crédit de l'image</h2>
                    <input type="text" class="form-control" name="credit" value="{{ filename.credit }}">
                </div>

                <div class="form_box">
                    <h2>Droits d'utilisation limités ?</h2>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="limit_utilisation" value="true">
                        <label class="form-check-label">
                          Oui
                        </label>
                  </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="limit_utilisation" value="false">
                        <label class="form-check-label">
                          Non
                        </label>
                  </div>
                </div>

                <div class="form-group">
                    <h2>Copyright</h2>
                    <input type="text" class="form-control" name="copyright" value="{{ filename.copyright }}">
                </div>

                <div class="form-group">
                    <h2>Date de fin de droits d'utilisation</h2>
                    <input type="date" name="date_end_right" value="{{ filename.date_end_right }}">
                </div>

                <div id="bigDiv">
                    <div class="form-group">
                        <h2>Date de fin de droits d'utilisation</h2>
                        <div class="container_input">
                            {% for tagTest in filename.tag %}
                              <input class="form-control" name="tag[]" type="text" value="{{ tagTest }}"/>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form_box">
                    <h2>Photos avec des personnes ?</h2>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_human" value="true">
                        <label class="form-check-label">
                          Oui
                        </label>
                  </div>
                </div>
                <div class="form_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_human" value="false">
                        <label class="form-check-label">
                          Non
                        </label>
                  </div>
                </div>

                 <button class="btn btn-primary" type="submit" id="add-btn">Mettre à jour la photo</button>
             </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock content %}

</html>