<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index-home.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block title %} {% endblock title %}

{% extends "layout/root.html" %}

{% block content %}
<div>
    <div class="container"
        <section class="hero-section">
            <div class="card-grid">
                {% for image in images %}
                    <a href="/file/{{ image.files_name }}" download><button class="btn btn-success" type="submit">Télécharger</button></a>
                    <a class="card" href="{{ url_for('detail_image', id=image._id) }}" style="transition: ease 1s">
                    <div class="card__background" style="background-image: url(/file/{{image.files_name}})"></div>
                    <div class="card__content">
                        <label class="tag">Nom de l'image</label>
                        <p class="card__category">{{image.title}}</p>
                        <label class="tag">Type de l'image</label>
                        <p class="card__category">{{image.type_image}}</p>
                        <label class="tag">Tag de l'image</label>
                        {% for tagimg in image.tag %}
                            <h3 class="card__heading">{{ tagimg }}</h3>
                        {% endfor %}
                    </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock content %}

</html>