body {
    background-color: rgb(5, 15, 19)!important;
    margin: 0;
}

label{
    color: black;
}
.navbar {
    background-color: #111111!important;
}
.nav-link{
    color: white!important;
}
header {
    margin-top: 15px!important;
}
.btn-outline-success {
    color: rgb(22, 68, 87)!important;
    border-color: rgb(22, 68, 87)!important;
}
.btn-outline-success:hover {
    background-color: rgb(22, 68, 87)!important;
    color: white!important;
}
.container {
    margin-top: 80px;
    display: block;
    text-align: center;
}
.img {
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}
.detail {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
.big {
    font-size: 4em;
}
.container_trait {
    display: flex;
    justify-content: center ;
}
.trait {
    width: 80%;
    height: 1px;
    background-color: white;
}
.trait_small {
    width: 40%;
    height: 1px;
    background-color: white;
    margin-bottom: 15px;
}
.marg {
    margin-top: 15px;
}
.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
}
.post_style{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
.title {
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.competence_detail {
    display: flex;
    justify-content: space-around;
}
.lit {
    font-size: 2em;
}


.form-text {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: black!important;
}
.button_container {
    margin-top: 40px!important;
    display: flex!important;
    height: 5%;
}