:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.container_form{
  margin-top: 5vw;
}

label{
  color: white;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

form{
  text-align: center;
}

.form-group{
  margin-left: 35%;
  margin-right: 35%;
}

body{
  height: 100%;
  background-color: #0f4667!important;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}
.count{
  text-align: center;
  color: white;
}
.tag  {
  font-style: italic;
  color: blue!important;
  text-align: start!important;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card__content{
  left: 0;
  width: 100%;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
  margin-top: 25%;
  background-color: rgba(245,245,245,0.4);
  border-radius: 5%!important;

}

.card__category{
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;

}

.card__heading{
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}