<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passion Froid - {% block title %}  {% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index-home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/detail.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='styles/passionfroid.png') }}" width="100px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}">Toutes les photos<span class="sr-only">(current)</span></a>
            </li>
              <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('add_image')}}">Ajouter une photo<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('index')}}" method="post" role="form">
            <select name="filtre" class="form-control form-control-md" style="margin-right: 0.5em">
                <option value="tag">Tag</option>
                <option value="title">Nom</option>
            </select>
            <input class="form-control mr-sm-2" type="search" name="recherche" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
      </nav>
</header>


<main class="main-area">
    <div class="centered">
        {% block content %}

        {% endblock content %}
    </div>
</main>
</html>